@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}
body {
    background-color: #f7f5f0;
}
.container-fluid {
    width: 80%;
    margin: auto;
}

.header {
    width: 100%;
    margin: auto;
    
}

.container {
    border: 2px solid rgb(40, 38, 38);
    height: 360px;
    width: 48%;
    margin:auto;
    box-sizing: border-box;
    background-color: #f8f2e5;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
}

.inputTable{
    width: 95%;
    margin: 5% auto 2% auto;
    display: flex;
    box-sizing: border-box;
}

.inputTitle{
    margin-bottom: 10px;
}

h2, .container > p{
    width: 90%;
    padding-left: 5%;
}

input[type="text"], input[type="number"],textarea, select {
    height: 43px;
    width: 90%;
    margin: 0 5%;
    border-radius: 5px;
    padding: 2% 5%;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f7f5f0;
}

select {
    height: 43px;
    width: 90%;
    margin: 0 5%;
    border-radius: 5px;
    padding: 2% 5%;
    border: 2px solid;
    border-color: rgb(40, 38, 38);
    box-sizing: border-box;
    background-color: #f7f5f0;
}

.actions{
    display: flex;
    width: 90%;
    margin: 5% auto;
    box-sizing: border-box;
    justify-content: space-between;
}

input[type="submit"],input[type="button"] {
    padding: 3% 1%;
    width: 30%;
    white-space: normal;
    border-radius: 5px;
    border: 1px;
}
.btn{
    color: #f7f5f0;
    background-color: rgb(40, 173, 95);
    border: 1px solid rgb(19, 154, 75);
}
.btn:hover{
    color: #f7f5f0;
    background-color: rgb(19, 154, 75);
    cursor: pointer;
}
#clear {
    border: 1px solid rgb(214, 18, 18);
    background-color: rgb(243, 58, 58);
    cursor: pointer;
}
#clear:hover {
    background-color: rgb(214, 18, 18);
}
#error {
    width: 93%;
    margin: auto;
    margin-top: 2.5%;
    background: rgb(236, 205, 205);
    color: rgb(131, 0, 0);
    padding: 5px 25px;
    box-sizing: border-box;
    display: none;
    border-radius: 5px;
}